.CP__popout {
    pointer-events: none;
    background-color: var(--bg-overlay-chat, var(--background-base-lower)) !important;
    border-radius: 10px;
    height: 30vh;
    min-height: 150px;
    width: 50vw;
    min-width: 350px;
    overflow: hidden;
    margin-top: calc(var(--custom-app-top-bar-height) + 8px);
}
.CP__popout * { pointer-events: none !important; }
.CP__container { padding-bottom: 25px; }
.CP__container > * { list-style: none; }
.CP__scroller {
    display: flex;
    flex-direction: column-reverse;
    overflow-anchor: auto;
}
.CP__backdrop {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000;
    pointer-events: none;
    opacity: 0;
    transition: .3s opacity;
    z-index: 1000;
}
.CP__divider-cut { margin-top: 40px !important; }
